@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html,
body {
    font-family: 'Itim', cursive;
    width: 400px;
    height: 100%;
    background-color: #e8f1f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.4rem;
}

body::-webkit-scrollbar {
    width: 0;
    /* スクロールバーの幅を0に設定 */
}
header {
    width: 100%;
    height: 60px;
    background-color: #d5e1e9;
}


li {
    list-style-type: none;
}

#emoji_list {
    width: 100%;
    height: 100%;
    user-select: none;
}
.margin_top_1 {
    margin-top: 0.5rem;
}

.bothEnds_padding {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.emoji_list_scrollbar {
    overflow-y: auto;
}

/*スクロールバー*/
.emoji_list_scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

.emoji_list_scrollbar::-webkit-scrollbar-thumb {
    background-color: #a7b9c5;
    border-radius: 0.4rem;
}

.emoji_list_scrollbar::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 0.4rem;
}

#emoji_img {
    width: 30px;
    height: 30px;
}

#emoji_element {
    margin: 0.1rem;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: flex_start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.position_left {
    width: 100%;
    display: flex;
    justify-content: flex_start;
    align-items: center;
}

.position_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font_size_1 {
    font-size: 1rem;
}

.maegin_right_1 {
    margin-right: 0.9rem;
}

.none_margin {
    margin: 0;
}