html,
body {
    width: 400px;
    height: 100%;
    background-color: #f5f5f5;
}

.emoji_list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

#emoji_contents {
    width: 60%;
    height: 60%;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#emoji_contents {
    /*画像サイズ*/

}