<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmojiGrabber</title>
    <link rel="stylesheet" href="../style/option.css">
    <link rel="stylesheet" href="../style/tooltip.css">
    <script type="module" src="../js/searchHandler.js"></script>
    <script type="module" src="../js/mouse_event.js"></script>
</head>

<body>
    <header class="position_left ">
        <h1 id="EmojiGrabber" class="font_size_2 bothEnds_padding">EmojiGrabber 🤐🤪🥴</h1>
    </header>
    <!-- <div class="position_left margin_top_1 ">
        <p class = "font_size_1 none_margin bothEnds_padding">favorites :</p>
        <div id="bookmark_list"></div>
    </div> -->
    <div class="position_left margin_top_1 ">
        <p class = "font_size_1 none_margin bothEnds_padding">Search by shortcode :</p>
        <input type="text" id="searchInput" placeholder="Search...">
    </div>
    <div id="searchResults" class="center"></div>
    <div id="emoji_list" class="emoji_list_scrollbar margin_top_1 "></div>
    <script type="module" src="../js/get_emoji.js"></script>
</body>

</html>
